@page "/"
@inject IConfiguration Config

<h3>OIDC Test (Blazor WASM)</h3>

<AuthorizeView>
  <Authorized>
    <p><b>Logged in.</b></p>
  </Authorized>

  <NotAuthorized>
    <p><b>Not logged in.</b></p>
    <a href="authentication/login">Login</a>
    <br />
    <a href="@RegisterUrl">Register (Identity UI)</a>
  </NotAuthorized>
</AuthorizeView>

@code {
  private string RegisterUrl =>
    $"{(Config["AuthServer:Authority"] ?? "https://localhost:7001").TrimEnd('/')}/Identity/Account/Register";
}